[Unit]
Description=Move /boot/wpa_supplicant.conf to right place.
ConditionPathExists=/boot/wpa_supplicant.conf
Wants=wpa_supplicant@wlan0.service
Before=wpa_supplicant@wlan0.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mv /boot/wpa_supplicant.conf /etc/wpa_supplicant/wpa_supplicant-wlan0.conf
ExecStartPost=/bin/chmod 600 /etc/wpa_supplicant/wpa_supplicant-wlan0.conf

[Install]
WantedBy=multi-user.target

