[Unit]
Description=Mobile network auto reconnect periodic task

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
RandomizedDelaySec=10

[Install]
WantedBy=timers.target
