[Unit]
Description=Restart pki-tomcatd@pki-tomcat service weekly to work around memory leak

[Timer]
OnCalendar=weekly
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
