hostname="solarin-proxy-X.solarnetwork.net"

# SNF start
cron_enable="YES"
cron_flags="$cron_flags -J 15"
nfs_client_enable="YES"
nginx_enable="YES"
cert_support_enable="YES"
sendmail_enable="NONE"
postfix_enable="YES"

