ACTION=="add", SUBSYSTEM=="net", DEVPATH=="/devices/platform/soc/*/spi0.0/net/can?", NAME="can0", TAG+="systemd", ENV{SYSTEMD_WANTS}="sn-pi-seeed-socketcan@%k.service"
ACTION=="add", SUBSYSTEM=="net", DEVPATH=="/devices/platform/soc/*/spi1.0/net/can?", NAME="can1", TAG+="systemd", ENV{SYSTEMD_WANTS}="sn-pi-seeed-socketcan@%k.service"
